<p><%= link_to "View all libraries", "/libraries" %></p>
<p><%= link_to "View all books", "/books" %></p> 
<p><%= link_to "View #{@library.name} library book list", "/libraries/#{@library.id}/books" %></p> 
<h1><%= @library.name %></h1>
<%= link_to "Update #{@library.name} Library", "/libraries/#{@library.id}/edit"%>
<br>
<%= link_to "Delete #{@library.name} Library", "/libraries/#{@library.id}", method: :delete %>        
<p>We have <%= @library.count_books %> books</p>
<p>Branch number: <%= @library.branch_num %></p>
<p>City: <%= @library.city %></p>
<% if @library.open %>
    <%= "We are open" %>
<% else %>
    <%= "We are closed" %>
<% end %>

