<p><%= link_to "View all libraries", "/libraries" %></p>
<p><%= link_to "View all books", "/books" %></p> 
<p><%= link_to "View #{@library.name} library books list", "/libraries/:library_id/books" %></p> 
<h1><%= @library.name %></h1>
<p>We have <%= @library.books.count %> books</p>
<p>Branch number: <%= @library.branch_num %></p>
<p>City: <%= @library.city %></p>
<% if @library.open %>
    <%= "We are open" %>
<% else %>
    <%= "We are closed" %>
<% end %>

