<%= link_to "View all libraries", "/libraries" %> 
<h1>Books</h1>
<% @books.available.each do |book| %>
    <h3><%= book.title %></h3>
    <p>ID: <%= book.id   %></p>
    <p>Author: <%= book.author %></p>
    <p>Copyright: <%= book.copyright %></p>
    <p>Available: <%= book.available %></p>
    <p>Created: <%= book.created_at %></p>
    <p>Updated: <%= book.updated_at %></p>
    <%= link_to "View #{book.title}", "/books/#{book.id}"%></p>
    <%= link_to "Update Book", "/books/#{book.id}/edit" %>
    <%= link_to "Delete #{book.title}", "/books/#{book.id}", method: :delete %>        
<% end %>