<p><%= link_to "View all libraries", "/libraries" %></p>
<p><%= link_to "View all books", "/books" %></p>
<h1><%=@book.title%></h1>
<p>ID: <%=@book.id%></p>
<p>Author: <%=@book.author%></p>
<p>Copyright: <%=@book.copyright%></p>
<p>Available: <%=@book.available ? "Yes" : "No" %></p>
<p>Created: <%=@book.created_at %></p>
<p>Updated: <%=@book.updated_at %></p>
