<p><%= link_to "View all libraries", "/libraries" %></p>
<p><%= link_to "View all books", "/books" %></p>
<p><%= link_to "Create Book", "/libraries/#{@library.id}/books/new" %></p>
<p><%= link_to "Sort books alphabetically", "/libraries/#{@library.id}/books/sort" %></p>
<% @books.each_with_index do |book, index| %>
    <div id="book-<%= index %>">
        <h3><%=book.title%></h3>
        <p>ID: <%=book.id%></p>
        <p>Author: <%=book.author%></p>
        <p>Copyright: <%=book.copyright%></p>
        <p>Available: <%=book.available ? "Yes" : "No" %></p>
        <p>Created: <%=book.created_at %></p>
        <p>Updated: <%=book.updated_at %></p>
        <%= link_to "Delete #{book.title}", "/books/#{book.id}", method: :delete %>        
    </div>
<% end %>
<br>
<%= form_with url: "/libraries/#{@library.id}/books", method: :get, local: true do |form| %>
    <%= form.label :copyright_year %>
    <%= form.number_field :threshold %>
    
    <%= form.submit "Only return records more recent than given copyright year" %>
<% end %>
